services:
  app1:
    container_name: container1
    image: carrotbat410/spring-lol-repository:latest
    ports:
      - "8081:8080"
    depends_on:
      - mysql-db
    networks:
      - spring-lol-network

  app2:
    container_name: container2
    image: carrotbat410/spring-lol-repository:latest
    ports:
      - "8082:8080"
    depends_on:
      - mysql-db
    networks:
      - spring-lol-network

  app3:
    container_name: container3
    image: carrotbat410/spring-lol-repository:latest
    ports:
      - "8083:8080"
    depends_on:
      - mysql-db
    networks:
      - spring-lol-network

  app4:
    container_name: container4
    image: carrotbat410/spring-lol-repository:latest
    ports:
      - "8084:8080"
    depends_on:
      - mysql-db
    networks:
      - spring-lol-network

  mysql-db:
    container_name: mysql-db
    image: mysql:latest
    environment:
      MYSQL_DATABASE: lol_prod
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: tmpPassword
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - spring-lol-network

volumes:
  mysql-data:

networks:
  spring-lol-network:
    external: true